{
 :aliases {; to get access to clojure.tools.deps.alpha.repl/add-lib
           ;; - now you can add new deps to a running REPL:
           ;; (require '[clojure.tools.deps.alpha.repl :refer [add-lib]])
           ;; (add-lib 'some/library {:mvn/version "RELEASE"})
           ;; - and you can git deps too; here's how to get the master version of a lib:
           ;; (require '[clojure.tools.gitlibs :as gitlibs])
           ;; (defn load-master [lib]
           ;;   (let [git (str "https://github.com/" lib ".git")]
           ;;    (add-lib lib {:git/url git :sha (gitlibs/resolve git "master")})))
           ;; - e.g., using the GitHub path (not the usual Maven group/artifact):
           ;; (load-master 'clojure/tools.trace)
           :deps   {:extra-deps {org.clojure/tools.deps.alpha
                                 {:git/url "https://github.com/clojure/tools.deps.alpha"
                                  :sha     "19d197ab221d37db750423eb970880cb87a91100"}}}
           :graph  {:deps      {org.clojure/tools.deps.graph {:mvn/version "0.2.24"}}
                    :main-opts ["-m" "clojure.tools.deps.graph"]}
           :klipse {:extra-deps {viebel/klipse-repl {:mvn/version "0.2.3"}}
                    :main-opts  ["-m" "klipse-repl.main"]}
           :new    {:extra-deps {seancorfield/clj-new {:mvn/version "RELEASE"}}
                    :main-opts  ["-m" "clj-new.create"]}
           :nrepl  {:extra-deps {nrepl {:mvn/version "RELEASE"}}
                    :main-opts  ["-m" "nrepl.cmdline"]}
           :test   {:extra-paths ["test"]
                    :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0"}}}
           :runner {:extra-deps {com.cognitect/test-runner
                                 {:git/url "https://github.com/cognitect-labs/test-runner"
                                  :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
                    :main-opts  ["-m" "cognitect.test-runner"
                                 "-d" "test"]}
           :spec2  {:extra-deps {org.clojure/spec-alpha2
                                 {:git/url "https://github.com/clojure/spec-alpha2"
                                  :sha     "b644e4d8c5553e10544d920306690fffe9b53e15"}}}

           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "0.5.1"}}
                     :main-opts  ["-m" "hf.depstar.uberjar"]}}
 }
